@import "../../../app/styles/native.scss";

.card-visit {
  height: 420px !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 0 5px #c3cfde;
  transition: 300ms;

  &:hover {
    box-shadow: 0 0 5px$text--custom;
  }

  &-text {
    font-size: 12px;
  }

  .card-button {
    bottom: 15px;
  }

  img {
    width: 100%;
    height: 240px;
  }
}
