@import "../../../app/styles/native.scss";

.features-box {
  height: 220px;
  background-color: $bg--dark;
  box-shadow: 0 0 5px #c3cfde;
  border-radius: 10px;
  padding: 35px 35px;
  transition: 300ms;

  &:hover {
    padding-right: 5px !important;
    box-shadow: 0 2px 7px $bg--custom;
  }

  &:hover .bottom-icon,
  &:hover h4,
  &:hover p span {
    color: $text--custom;
  }

  .head-icon {
    font-size: 50px;
  }
}
